body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: mintcream;
}

h1 {
  color: #333333;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 3px 05%;
}

p {
  font-size: 25px;
  color: #666666;
  position: fixed;
  justify-content: space-between;
  padding: 90px 5%;
  padding-right: 90vh;
}

img {
  /*justify-content: space-between;*/
  width: 400px;
  height: 400px;
  padding-left: 500vh;
  padding: 130px 60%;
  position: fixed;
}
nav {
  background: floralwhite;
}

nav ul {
  font-size: 20px;
  position: fixed;
  top: 0%;
  right: auto;
  z-index: 1000;
  justify-content: space-between;
  list-style: none;
  padding: 30px 70%;
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4caf50;
}
.Login-button {
  padding: auto;
}



