body {
  margin: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 30px;
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 5px 10px;
  font-size: 400%;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: aliceblue;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: dimgrey;
}
button:active {
  background-color: dimgrey;
}
.operator-btn {
  background-color: darkgoldenrod;
}
.operator-btn:hover {
  background-color: goldenrod;
}
.operator-btn:active {
  background-color: goldenrod;
}
